html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #35374B;
}

#main-holder {
  width: 50%;
  height: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Split the main holder into two columns */
  justify-items: center;
  align-items: center;
  background-color: #78A083;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}

#login-section {
  grid-column: 1; /* Place the login section in the first column */
}

#image-section {
  grid-column: 2; /* Place the image section in the second column */
}

/* Rest of your CSS code */
  
  #login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  #login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #50727B;
    border: 1px solid #50727B;
    background-color: #78A083;
    opacity: 0;
  }
  
  #error-msg-second-line {
    display: block;
  }
  
  #login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .login-form-field::placeholder {
    color: #646bb2;
  }
  
  .login-form-field {
    border: none;
    border-bottom: 1px solid #303890;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
  }
  
  #login-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #323ca7;
    cursor: pointer;
    outline: none;
  }